<!DOCTYPE html>

<html>
<head>
    <title>It is an app</title>

    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/scripts")

    <!-- Chart includes -->
    <link href="~/Content/angular-chart.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
    <script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

    <script src="~/SPA/ApiService.js"></script>

    <script src="~/SPA/Controller/ViewProductController.js"></script>
    <script src="~/SPA/Controller/ShellController.js"></script>
    <script src="~/SPA/Controller/MainController.js"></script>
    <script src="~/SPA/Controller/GridController.js"></script>
    <script src="~/SPA/App.js"></script>
</head>
<body>
    <script>
        Application.initialize();
        $(document).ready(function () {            
            angular.bootstrap(document, ["SPA.App"]);
        });        
    </script>

    <div ui-view="Shell-Root"></div>
</body>
</html>
